@font-face {
  font-family: "MS";
  src: url("./static/MS Sans Serif 8pt.ttf") format("truetype");
}
html {
  font-family: MS;
  background-color: #008080;
  overflow: hidden;
}
a:visited {
  color: #0000ff;
}

.container {
  background-color: white;
  width: 50vw;
  height: 70vh;
  position: absolute;
  z-index: 10;
  top: 10vh;
  left: 25vw;
  border-style: solid;
  border-color: #b5b3b3;
  border-width: 0px 5px 5px 5px;
  color: black;
  box-shadow: inset 2px 2px 2px black, 2px 2px 2px black, -1px -1px 1px white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5rem;
}

#instructions {
  position: absolute;
  bottom: 12px;
  width: 100%;
  font-size: small;
  color: rgba(0, 0, 0, 0.75);
}
.title-container {
  background-color: #b5b3b3;
  padding-top: 5px;
  padding-bottom: 5px;
  width: inherit;
  box-shadow: 0px 2px #000;
  margin-bottom: 2.5px;
}

.title {
  background: linear-gradient(to right, #0000aa, #0000aa88);
  width: inherit;
  color: white;
  height: inherit;
}
.title span {
  padding-left: 5px;
}

.close {
  position: absolute;
  right: 1%;
  height: inherit;
  background-color: #b5b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 15px;
  height: 15px;
  margin-top: 4px;
  box-shadow: 1.5px 1.5px 2px #000, -0.5px -0.5px 1px white;
}

.close :hover {
  cursor: pointer;
}

.content {
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

.taskbar {
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100000;
  background-color: #b5b3b3;
  width: 100vw;
  border-top: white solid 1px;
  padding-bottom: 2px;
}

#start-button {
  width: 5rem;
}

.taskbar .button {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 5px 10px;
  margin: 2.5px 3px;
  min-width: 10vw;
  box-shadow: 2px 2px black, inset 1px 1px white;
}
.button img {
  height: 22px;
  width: 22px;
  margin-right: 5px;
}

.active {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 2px 2px black, 1px 1px white !important;
}

.minimized {
  background-color: rgba(255, 255, 255, 0.4);
}

#clock {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  width: 7vw;
  padding: 5px;
  margin: 5px;
  box-shadow: inset 2px 2px black, 1px 1px 2px white;
}

.hide {
  display: none;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  margin-left: 5px;
  z-index: -100000000000;
}

.social-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
}
.social a {
  text-decoration: none;
  color: white;
}
.social-link img {
  height: 36px;
  width: 36px;
}
.social-link span {
  font-size: small;
  margin-top: 10px;
}

.project {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 25px;
}
.diskette {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start-menu {
  min-width: 25vh;
  padding: 5px;
  margin: 5px;
  box-shadow: inset 2px 2px white, 2px 2px 2px black;
  position: absolute;
  bottom: 2.75rem;
  z-index: 10000000;
  left: 0;
  background-color: #b5b3b3;
}

.menu-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0.5em;
  margin-left: 15%;
  align-items: center;
}

.menu-button:hover {
  background: #0000aa;
  color: white;
  z-index: 10;
}

.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 98%;
  z-index: -10;
  background: #808080;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  margin: 3px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.side-bar .logo-text {
  margin-top: 10px;
  font-weight: 900;
  color: rgba(182, 180, 180, 0.7);
  font-size: x-large;
}

.side-bar .logo-number {
  margin-top: 5px;
  color: white;
  font-size: x-large;
}

.menu-button img {
  margin-right: 10px;
  height: 2rem;
  width: 2rem;
}

.project_description {
  width: 90%;
  margin-left: 1%;
}

.exp-heading, .edu-heading {
  margin: 5px 10px;
  font-size:larger;
  font-weight: bold;
  text-decoration: underline;
}

.exp-container, .edu-container {
  display: flex;
  width: 100%;
}

.exp-bullet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.exp-bullet img {
  height: 42px;
}

.join-dot-open {
  border:3px solid black;
  width: 13px;
  height:13px;
  border-radius:50%;
}

.join-dot {
  border:3px solid black;
  background-color: black;
  width: 13px;
  height:13px;
  border-radius:50%;
}

.join-line {
  background-color: black;
  width: 2.5px;
  flex-grow: 1;
}

.exp-content, .edu-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-grow: 1;
}

.exp-info {
  display: flex;
  justify-content: space-between;
}

.exp-description {
  margin: 10px 0px;
  margin-left: 15px;
}

.org-position,
.org-duration {
  font-weight: bold;
}

.org-location,
.org-name {
  font-style: italic;
}

.mobile {
  display: none;
}

#loader {
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  left: 0;
}
#loader img {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .container,
  .taskbar,
  .social-link {
    display: none;
  }
  .mobile {
    height: 90vh;
    width: 90vw;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .mobile a {
    padding: 0.5rem 0rem;
  }
  #mobile-song-image {
    width: 70%;
  }
  .mobile-song {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  a {
    text-decoration: none;
    color: white !important;
  }

  .job-banner {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .job-banner a {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}

.job-banner {
  position: fixed;
  top: 8px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: larger;
  color: white;
}

.job-banner a {
  color: rgba(0, 0, 0, 0.7);
}
